.about {
    text-align: center;
}

.about .about-wrapper {
    display: inline-block;
    text-align: left;
    width: 55%;
}

.about h1 {
    text-align: center;
    display: block;
}

.about li {
    text-align: center;
    list-style: none;
    font-size: 24px;
}